
<!DOCTYPE html>
<html>
<head>
	
	  <title>object of design</title>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"content="descrizione">
    <meta name="autor"content="plinio il grande"> 
    <meta name="keyword"content="varie palore chiave">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/about.css' /> 
    <link rel='stylesheet' href='/stylesheets/transition.css' /><!--transition-->
    <link rel='stylesheet' href='/stylesheets/styleNavbar.css' /><!--transition-->


    <link rel="icon" href="images/caffeTear.png"type="img/png">
  
    <!--font-->
    
	</head>
	<body>

	<div class="transition transition_2 is_active"></div>

	<div id="container">

    <a href="/" id="logo"><img src="images/logo-cadetblue.png" class="clsLogo"></a>
	
	<a id="icon"onclick="myFunction('menu')"><span></span>
	                                         <span></span>
	                                         <span></span></a>
	<ul id="menu">
    <li class="done"><a href="/"class="slider">home</a></li>
    <li class="done"><a href="/about"style="color: #ffac7b;"class="slider">about us</a></li>
		<li class="done"><a href="/roasting"class="slider">roasting</a></li>
    <li class="done"><a href="/cours"class="slider">cours</a></li>
    <li class="done"><a href="/contact"class="slider">contact</a></li>
	</ul>

	</div>
	<!--------------------end navigation bar------------------->
	
<section>
  <div class="filtro"></div>
   <div class="testo">
    <div class="testo_copia">
     <img src="../images/logowhite1.png" alt="logo" class="logoSince">
     </div> 
  </div>
</section>
	<!------end ------background------------------->

	<!-----------BLOCK 1°-------------->

<div class="introduction">
  <div class="introduction_int">

     <div class="container_vertical_line">
      <span class="vertical_line"></span>
      <span class="vertical_line"style="color:#3ab4ef70;">1</span>
      <span class="vertical_line"></span>
     </div>



    <div class="container_vertical_line">
      
      <div class="wrapper_first_par">
      <h1 class="reveal">How we bourn</h1>
      <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ea et minima, fugiat, 
        cupiditate nostrum eius deserunt, adipisci neque
        debitis iste ducimus Lorem ipsum  Lorem ipsum dolor sit amet
        consectetur adipisicing elit.  </p>
      </div>
      

    </div>
    
  </div>
</div>





	<!-------BLOCK  2°----------------->
  <div class="container_second_paragraf">
       
    <div class="second_container_vertical_line">
      <span class="second_vertical_line"></span>
      <span class="second_vertical_line"style="color:#3ab4ef;">2</span>
      <span class="second_vertical_line"></span>
    </div>

     

    <div class="wrapper_second_paragraf">
     <h1 class="reveal">The choise we done</h1>
     <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea et minima, fugiat, 
      cupiditate nostrum eius deserunt, adipisci neque
      debitis iste ducimus</p>
    </div>

   
  </div>
	<!-----------BLOCK 3°-------------->

  <div class="introduction">
    <div class="introduction_int">
  
       <div class="container_vertical_line">
        <span class="vertical_line"></span>
        <span class="vertical_line"style="color:#3ab4ef;">3</span>
        <span class="vertical_line"></span>
       </div>
  
  
  
      <div class="container_vertical_line">
        
        <div class="wrapper_first_par">
        <h1 class="reveal">Our mission</h1>
        <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Ea et minima, fugiat, 
          cupiditate nostrum eius deserunt, adipisci neque
          debitis iste ducimus Lorem ipsum  Lorem ipsum dolor sit amet
          consectetur adipisicing elit.  </p>
        </div>
        
  
      </div>
      
    </div>
  </div>
  

	<!-------BLOCK  2°----------------->
  <div class="container_second_paragraf">
       
    <div class="second_container_vertical_line">
      <span class="second_vertical_line"></span>
      <span class="second_vertical_line"style="color:#3ab4ef;">4</span>
      <span class="second_vertical_line"></span>
    </div>

     

    <div class="wrapper_second_paragraf">
     <h1 class="reveal">Eco-sustainability</h1>
     <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea et minima, fugiat, 
      cupiditate nostrum eius deserunt, adipisci neque
      debitis iste ducimus</p>
    </div>

   
  </div>


















































	<!-------BLOCK  end footer----------------->

  <div class="container_footer">
    <div class="wrapprer_footer">


      <div class="logoFooter"><img src="images/logo-cadetblue.png"></div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5 id="twist1">contact</h5>
            <p>tel : 327 4428549</p>
            <p>fax : 327 4428549</p>
            <p>mail : beancaffe@libero.it</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5 id="twist2">location</h5>
            <p>Via annibale da bassano N° 23</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
          <div class="kkk">
             <h5 id="twist3">social</h5>
      
             <img src="../images/istagram.png" href="https://www.instagram.com/">
             <img src="../images/faceboock.png" href="https://it-it.facebook.com/">
             <img src="../images/twitter.png" href="https://twitter.com/?lang=it">
             <img src="../images/whattup.png" href="tel:3392751462">


          </div>
        </div>
      </div>
    
      <p align="center" style="color: #808080;">powered by: AO enterprice</p>


     </div>
     </div>








  
  
      <script src="javascripts/animation.js"></script>
  
    </body>
      </html>
 













 