
<!DOCTYPE html>
<html>
<head>
	
	  <title>object of design</title>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"content="descrizione">
    <meta name="autor"content="plinio il grande"> 
    <meta name="keyword"content="varie palore chiave">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/contact.css' /> 
    <link rel='stylesheet' href='/stylesheets/transition.css' /><!--transition-->
    <link rel='stylesheet' href='/stylesheets/styleNavbar.css' /><!--transition-->



    <!--font-->
    
	</head>
	<body>

	<div class="transition transition_2 is_active"></div>

	<div id="container">
    <a href="/" id="logo"><img src="images/logo-cadetblue.png"></a>
	
	<a id="icon"onclick="myFunction('menu')"><span></span>
	                                         <span></span>
	                                         <span></span></a>
	<ul id="menu">
    <li class="done"><a href="/"class="slider">home</a></li>
    <li class="done"><a href="/about"class="slider">about us</a></li>
		<li class="done"><a href="/roasting"class="slider">roasting</a></li>
    <li class="done"><a href="/cours"class="slider">cours</a></li>
    <li class="done"><a href="/contact"style="color: #ffac7b;"class="slider">contact</a></li>
	</ul>

	</div>
	<!--------------------end navigation bar------------------->
	
<section>
  <div class="filtro"></div>
   <div class="testo">
    <div class="testo_copia">
     <img src="../images/logowhite1.png" alt="logo" class="logoSince">
     </div> 
  </div>
</section>
	<!------end ------background------------------->

	<!-----------BLOCK 1°-------------->

<div class="introduction">
  <div class="introduction_int">
     
    <h1>Contact</h1>
    <h4>For any question feel free to contact us
      in the way you prefer</h4>
 
    
  </div>
</div>


	<!-------BLOCK  2°----------------->


  <div class="container_information">
    <div class="container_information_int">

      <div class="info_box">
        <img src="../images/logoPhone.png" alt="logo" style="width: 10%;height: 10%;"> 
         <div class="wrapper_info">
    
           <p>phone:<a href="tel:+344997865">  075 11897783</a> </p> 
           <p>Cel:<a href="tel:00445435432">  075 11897783</a> </p> 
         </div>
      </div>

      <div class="info_box">
        <img src="../images/logoNetwork.png" alt="logo" style="width: 10%;height: 10%;">               
        <div class="wrapper_info">
          <p>www.beancaffe.it</p>
          <p>Cel</p> 
        </div>
      </div>

      <div class="info_box">
        <img src="../images/logoMail.png" alt="logo" style="width: 10%;height: 10%;">
        <div class="wrapper_info">
          <p>For send an e-mail to
            us<br> follow the  <a href="mailto:webdev.com">link</a></p>   
        </div>
      </div>

      <div class="info_box">
        <img src="../images/logoPosition.png" alt="logo" style="width: 10%;height: 10%;">
        <div class="wrapper_info">
          <p>30° wallaby way (Sidney)</p>  <p>Cel</p> 
        </div>
      </div>
     
  
      <div class="info_box">
         
         <div class="wrapper_info">

           <div class="b_hours">
             <h1>Bussines hours</h1>
             <p>from monday to friday<br>
              from 9 am - 7.30 pm</p><br>
              <p>saturday and sunday off</p>
           </div>
           
         </div>
      </div>

      <div class="info_box">
        <div class="new_logo">
           <img src="../images/newlogo.png" alt="logo">
        </div>
      </div>
     
    

    </div>
  </div>

  <!-------BLOCK  3°----------------->

  <div class="social_box">
    <div class="social_box_int">

      <div class="black_square">
        <div class="black_square_int">
          <h1 class="social_txt">SOCIAL</h1>

          <div class="social">
            <div class="social_int">
              <img src="../images/istagram.png" href="https://www.instagram.com/">
              <img src="../images/faceboock.png" href="https://it-it.facebook.com/">
              <img src="../images/twitter.png" href="https://twitter.com/?lang=it">
              <img src="../images/whattup.png" href="tel:3392751462">
 
          </div>
         </div>
        </div>
      </div>
    
    </div>
  </div>


	<!-------BLOCK  x°----------------->


<div class="whitespace">
  
</div>











































	<!-------BLOCK  end footer----------------->

  <div class="container_footer">
    <div class="wrapprer_footer">


      <div class="logoFooter"><img src="images/logo-cadetblue.png"></div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5>contact</h5>
            <p>tel : 327 4428549</p>
            <p>fax : 327 4428549</p>
            <p>mail : beancaffe@libero.it</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5>location</h5>
            <p>Via annibale da bassano N° 23</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
          <div class="kkk">
             <h5>social</h5>
      
             <img src="../images/istagram.png" href="https://www.instagram.com">
             <img src="../images/faceboock.png" href="https://it-it.facebook.com">
             <img src="../images/twitter.png" href="https://twitter.com/?lang=it">
             <img src="../images/whattup.png" href="tel:3392751462">


          </div>
        </div>
      </div>
    
      <p align="center" style="color: #808080;">powered by: AO enterprice</p>


     </div>
     </div>








  
  
     <script src="javascripts/animation.js"></script>
      




    </body>
      </html>
 













 