
<!DOCTYPE html>
<html>
<head>
	
	  <title>object of design</title>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"content="descrizione">
    <meta name="autor"content="plinio il grande"> 
    <meta name="keyword"content="varie palore chiave">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/cours.css' /> 
    <link rel='stylesheet' href='/stylesheets/transition.css' /><!--transition-->
    <link rel='stylesheet' href='/stylesheets/styleNavbar.css' /><!--transition-->



    <link rel="icon" href="images/caffeTear.png"type="img/png">
    <!--font-->
    
	</head>
	<body>

	<div class="transition transition_2 is_active"></div>

	<div id="container">

<a href="/" id="logo"><img src="images/logo-cadetblue.png"></a>
	
	<a id="icon"onclick="myFunction('menu')"><span></span>
	                                         <span></span>
	                                         <span></span></a>
	<ul id="menu">
    <li class="done"><a href="/"class="slider">home</a></li>
    <li class="done"><a href="/about"class="slider">about us</a></li>
	  <li class="done"><a href="/roasting" class="slider">roasting</a></li>
    <li class="done"><a href="/cours"style="color: #ffac7b;"class="slider">cours</a></li>
    <li class="done"><a href="/contact"class="slider">contact</a></li>
	</ul>

	</div>
	<!--------------------end navigation bar------------------->
	
<section>
  <div class="filtro"></div>
   <div class="testo">
    <div class="testo_copia">
     <img src="../images/logowhite1.png" alt="logo" class="logoSince">
     </div> 
  </div>
</section>
	<!------end ------background------------------->

<!-----------BLOCK 0°-------------->

<div class="introduction">
  <div class="introduction_int">
       
      <h1>Course</h1>
      <p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Saepe optio ratione, modi nemo voluptas sunt sapiente
          delectus inventore provident quos, rem commodi aperiam
         culpa veritatis labore, nam facere asperiores id!</p>
     
  </div>
</div>

<!-----------BLOCK 1°-------------->

<div class="container_bartending">
  <div class="bartending_int">
     
    <div class="wr_element">

    <div class="bartending_box"></div><!--box img-->

    <div class="bartending_box">
      <div class="divsion_txt">
        <h1>Bartending</h1>
        <p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Saepe optio ratione, modi nemo voluptas sunt sapiente
         delectus inventore provident quos.</p>

            <div class="btn">
            <div class="btn_w">
            <p>view more</p>
            </div>
            </div>

      </div>
    </div>

    </div>


  </div>
</div>


<!-----------BLOCK 2°-------------->

<div class="container_hot_drink">
  <div class="container_hot_drink_int">
    <div class="sett_absolute_hot_drink_int"> 
     
    <div class="hot_drink_box">

      <div class="hot_cocktails_txt">
        
         <h1>Hot cocktails</h1>
         <p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Saepe optio ratione, modi nemo voluptas sunt sapiente
         delectus inventore provident quos.</p>

          <div class="btn">
          <div class="btn_w">
          <p>view more</p>
          </div>
          </div>
          
     </div>

    </div>



    <div class="hot_drink_box"></div>

    </div>
  </div>
</div>

<!-----------BLOCK 3°-------------->

<div class="container_learn_a_job">
  <div class="container_learn_a_job_int">
    <div class="set_learn_a_job_int">

      
    <div class="container_learn_a_job_box"></div>



    <div class="container_learn_a_job_box">

      <div class="learn_txt">

        <div class="learn_txt_wrapper"> 
          <h1>Learn a job</h1>
          <p class="par">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Saepe optio ratione, modi nemo voluptas sunt sapiente
          delectus inventore provident quos.</p>
        </div>


            <div class="btn">
            <div class="btn_w">
            <p>view more</p>
            </div>
            </div>

      </div>
     </div>
     
   </div>
  </div>
</div>






	<!-------BLOCK  3°----------------->


<div class="whitespace">
  <div class="whitespace_int">
   
     <div class="info_title">
       <div class="wrapper_title">
          <h1 class="reveal">Information about the courses and the scool techer</h1>
          <div class="title_line"><h4>Lorem ipsum dolor sit amet carogten calacagathia</h4></div>
       </div>    
     </div>
    
     <div class="wrappet_txt">
     
     <p class="reveal">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
       Fugit aperiam quis odio consequuntur. Explicabo aliquid vel
        ea beatae adipisci inventore nesciunt quisquam quidem. 
         iure recusandae nisi laudantium illum accusamus.</p>
     </div>

     <div class="info_title">
      <div class="wrapper_title2">
         <h1 class="reveal">Coming soon</h1>
      </div>    
    </div>

  <div class="next_cours">
    <div class="next_cours_int">

      

      <div class="next_cours_box">
        <div class="next_cours_box_int reveal">
            <h1>Mixology  <br>infusion</h1>
            <img src="../images/bom1.jpg" style="width: 100%;">
           
        </div>
      </div>

      <div class="next_cours_box">
        <div class="next_cours_box_int reveal">
            <h1>Milk <br> art</h1>
            <img src="../images/bom1.jpg" style="width: 100%;">
           
        </div>
      </div>

      <div class="next_cours_box">
        <div class="next_cours_box_int reveal">
            <h1>Combinations with coffee</h1>
            <img src="../images/bom1.jpg" style="width: 100%;">
            
        </div>
      </div>




    </div>
  </div>



  </div>
</div>











































	<!-------BLOCK  end footer----------------->

  <div class="container_footer">
    <div class="wrapprer_footer">


      <div class="logoFooter"><img src="images/logo-cadetblue.png"></div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5>contact</h5>
            <p>tel : 327 4428549</p>
            <p>fax : 327 4428549</p>
            <p>mail : beancaffe@libero.it</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5>location</h5>
            <p>Via annibale da bassano N° 23</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
          <div class="kkk">
             <h5>social</h5>
      
             <img src="../images/istagram.png" href="https://www.instagram.com/">
             <img src="../images/faceboock.png" href="https://it-it.facebook.com/">
             <img src="../images/twitter.png" href="https://twitter.com/?lang=it">
             <img src="../images/whattup.png" href="tel:3392751462">


          </div>
        </div>
      </div>
    
     

     </div>
     </div>








  
  <script src="javascripts/cours.js"></script>
     <script src="javascripts/animation.js"></script>
    </body>
      </html>
 













 