
<!DOCTYPE html>
<html>
<head>
	
	  <title>object of design</title>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"content="descrizione">
    <meta name="autor"content="plinio il grande"> 
    <meta name="keyword"content="varie palore chiave">

	  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <link rel='stylesheet' href='/stylesheets/transition.css' /><!--transition-->
    <link rel='stylesheet' href='/stylesheets/styleNavbar.css' /><!--transition-->



    <link rel="icon" href="images/caffeTear.png"type="img/png">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!--font-->
   
	</head>
	<body>
	
  <div class="transition transition_2 is_active"></div>


	<div id="container">
	
	<a href="/" id="logo"><img src="images/logo-cadetblue.png" ></a>
	
	<a id="icon"onclick="myFunction('menu')"><span></span>
	                                         <span></span>
	                                         <span></span></a>
	<ul id="menu">
    <li class="done"><a href="/"style="color: #ffac7b;"class="slider">home</a></li>
    <li class="done"><a href="/about"class="slider">about us</a></li>
		<li class="done"><a href="/roasting"class="slider">roasting</a></li>
    <li class="done"><a href="/cours"class="slider">cours</a></li>
    <li class="done"><a href="/contact"class="slider">contact</a></li>
	</ul>
	
	</div>
	<!--------------------end navigation bar------------------->
	
<section>
   <div class="testo">
    <div class="testo_copia">
     <img src="../images/logowhite1.png" alt="logo" class="logoSince">
     </div> 
  </div>
</section>
	<!------end ------background------------------->

	<!-----------BLOCK 1°-------------->

<div class="introduction">
  <div class="introduction_int">
  
     <div class="container_vertical_line">
      <span class="vertical_line"></span>
      <span class="vertical_line"style="color:#3ab4ef;">PASSION</span>
      <span class="vertical_line"></span>
     </div>



    <div class="w_introduction">
      <h1 class="reveal">Capsule office</h1>
  
      <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ea et minima, fugiat, 
        cupiditate nostrum eius deserunt, adipisci neque
        debitis iste ducimus</p>
     
        
      <div class="container_capsule">

        <div class="wrapper_txt">
          <div>
           <h1 class="text_capsule">Adaptable</h1>

          </div>
           
        </div>
        
        <img src="images/pakaging.jpg">

      </div>
        
       
  

    </div>
    
  </div>
</div>

	<!-------BLOCK 2°----------------->


<div class="soft_text_BG">
  <div class="wrapper_soft_text_Bg">
   <!---soft grey text   --->
  </div>
</div>




	<!-------BLOCK 3°----------------->


  <div class="container_second_paragraf">
    <div class="wrapper_second_paragraf">
    <!--this is a backgroun empty under the caffe text-->
    </div>
  </div>
  

    
   


	<!-------BLOCK 3°----------------->


  <div class="container_second_paragraf">
    
       
    <div class="second_container_vertical_line">
        <span class="second_vertical_line"></span>
        <span class="second_vertical_line"style="color:#3ab4ef;">QUALITY</span>
        <span class="second_vertical_line"></span>
    </div>

     

    <div class="wrapper_second_paragraf">
     <h1 class="reveal">For your bar</h1>
     <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea et minima, fugiat, 
      cupiditate nostrum eius deserunt, adipisci neque
      debitis iste ducimus</p>
    </div>

   
  </div>
  

	<!--------------BLOCK soft text--------------->

  <div class="soft_text_BG2">
    <div class="wrapper_soft_text_BG2">
     <!---soft grey text   --->
    </div>
  </div>
  
	<!--------------------BLOCK 4°----------------->


<div class="container_cours">
  <div class="wrapper_cours">
 
    <div class="spank">
          <img src="images/pakaging.jpg">
    </div>
  
    <div class="spank">
      <div class="spank_w">
        <h1 class="reveal">Owr blend</h1>
        <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ea et minima, fugiat, 
        cupiditate nostrum eius deserunt, adipisci neque</p>
      </div>
    </div>
    
  </div>
</div>




	<!------------------BLOCK 5°--------slide show-------->
<div class="title_cours">
  <div class="title_w">
    <h1 class="reveal">Our cours</h1> 
  </div>
</div>


<div class="espresso_block">
  <div class="espresso_block_int">
      
<div class="bags_of_coffe"> 

      <div class="espresso_box">
         <!---slide------>
         <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->
          <div class="mySlides fade">
            <!--<img src="../images/drink1x.png" style="width:100%;box-shadow: 0px 10px 50px -5px #000000;">-->
            <div class="text">
              <h1 class="anl reveal">Bartending</h1>
              <hr class="reveal">
              <div class="container_txt">
              <div class="wrapper_txt">
              <p class="anl reveal">Staff training for improve the job 
                    and raise the quality of service with fun and 
                    creativity for an amazing custmer experience</p>
              </div>
              </div>
                <div class="wr_butt">
                     <h5 class="bottone reveal">learn more</h5>
                </div>

            </div>
          </div>
        
          <div class="mySlides fade">  
            <!--<img src="../images/drink1.png" style="width:100%;box-shadow: 0px 10px 50px -5px #000000;">-->
            <div class="text">
              <h1 class="anl">Hot cocktails</h1>
              <hr>
              <div class="container_txt">
              <div class="wrapper_txt">
             <p class="anl"> if you loking for a reason that can
              make your custmer choose not only because you are the most 
              close in the neighborhood</p>
            </div>
          </div>
                <div class="wr_butt">
                     <h5 class="bottone">learn more</h5>
                </div>
            </div>
          </div>
        
          <div class="mySlides fade"> 
            <!--<img src="../images/drink2.png" style="width:100%;box-shadow: 0px 10px 50px -5px #000000;">-->
            <div class="text">
              <h1 class="anl">Learn a job</h1>
              <hr>
              <div class="container_txt">
              <div class="wrapper_txt">
              <p class="anl"> if you want learn a job from screch
                with funy people who know send you experience 
                with professional method</p>
              </div>  
              </div>
                 <div class="wr_butt">
                      <h5 class="bottone">learn more</h5>
                 </div>
            </div>
          </div>
        
          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        
           
         <!---slide------>
      </div>


     
</div>

  </div>
</div>




	<!-------BLOCK  3°----------------->

  <div class="milk_art">
    <div class="milk_art_int">
        


    
      
    </div>
  </div> 

	<!-------BLOCK  end footer----------------->

  <div class="container_footer">
    <div class="wrapprer_footer">


      <div class="logoFooter"><img src="images/oklogo.png"></div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5 id="twist">contact</h5>
            <p>tel : 327 4428549</p>
            <p>fax : 327 4428549</p>
            <p>mail : beancaffe@libero.it</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5 id="twist">location</h5>
            <p>Via annibale da bassano N° 23</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
          <div class="kkk">
             <h5 id="twist">social</h5>
      
             <img src="../images/istagram.png" href="https://www.instagram.com/">
             <img src="../images/faceboock.png" href="https://it-it.facebook.com/">
             <img src="../images/twitter.png" href="https://twitter.com/?lang=it">
             <img src="../images/whattup.png" href="tel:3392751462">




 
      </div>

    </div>
  </div>

</div>
</div>




















  
  
  
  
  
  
  
  
  
<script src="javascripts/animation.js"></script><!--Transition from a page to an other-->
<script src="javascripts/file.js"></script>
 
     
     
  
  </body>
  </html>















 