
<!DOCTYPE html>
<html>
<head>
	
	  <title>object of design</title>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"content="descrizione">
    <meta name="autor"content="plinio il grande"> 
    <meta name="keyword"content="varie palore chiave">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	  <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/roasting.css' /> 
    <link rel='stylesheet' href='/stylesheets/transition.css' /><!--transition-->
    <link rel='stylesheet' href='/stylesheets/styleNavbar.css' /><!--transition-->



    <link rel="icon" href="images/caffeTear.png"type="img/png">
    <!--font-->
   
	</head>
	<body>

	<div class="transition transition_2 is_active"></div>

	<div id="container">

<a href="/" id="logo"><img src="images/logo-cadetblue.png"></a>
	
	<a id="icon"onclick="myFunction('menu')"><span></span>
	                                         <span></span>
	                                         <span></span></a>
	<ul id="menu">
    <li class="done"><a href="/"class="slider">home</a></li>
    <li class="done"><a href="/about"class="slider">about us</a></li>
		<li class="done"><a href="/roasting"style="color: #ffac7b;"class="slider">roasting</a></li>
    <li class="done"><a href="/cours"class="slider">cours</a></li>
    <li class="done"><a href="/contact"class="slider">contact</a></li>
	</ul>

	</div>
	<!--------------------end navigation bar------------------->
	
<section>
   <div class="testo">
    <div class="testo_copia">
     <img src="../images/logowhite1.png" alt="logo" class="logoSince">
     </div> 
  </div>
</section>
	<!------end ------background------------------->

	<!-----------BLOCK 1°-------------->

<div class="introduction">
  <div class="introduction_int reveal">
      
   
    
  </div>
</div>

	<!-------BLOCK° 2----------------->
<div class="first_paragraf">
  <div class="first_paragraf_int">

      <h1 class="reveal">Where the material
          come from</h1>
     <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea et minima, fugiat, 
      cupiditate nostrum eius deserunt, adipisci neque
      debitis iste ducimus Lorem ipsum  Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ea et minima, fugiat, 
      cupiditate nostrum eius deserunt, adipisci neque
      debitis iste ducimus  </p>

  </div>
</div>
<!-------BLOCK° 2------plus----------->

 <div class="splitter_wrapper">
   <div class="splitter_wrapper_int">
     <img src="../images/berries1.png" class="foto_1 reveal">
       <img src="../images/berries2.jpg" class="foto_2 reveal">
   </div>  
 </div>

<!-------BLOCK° 3----------------->


<div class="second_paragraf">
  <div class="second_paragraf_int reveal">
    <h3><strong>search and select the best one</strong></h3>
    <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Ea et minima, fugiat, 
    cupiditate nostrum eius deserunt, adipisci neque
    debitis iste ducimus Lorem ipsum  Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Ea et minima, fugiat, 
    cupiditate nostrum eius deserunt, adipisci neque
    debitis iste ducimus  </p>
 </div>
</div>




	<!-------BLOCK° 4----------------->
  <div class="rosting">
    <div class="rosting_int reveal">
      
    </div>
  </div>
  


	<!-------BLOCK° 5----------------->
  <div class="text_under_the_bean">
    <div class="text_under_the_bean_int">

      <h1 class="reveal reveal">Our secret? is the time...</h1>
      <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ea et minima, fugiat, 
        cupiditate nostrum eius deserunt, adipisci neque
        debitis iste ducimus</p>
      <h3 class="reveal">A barman for make a good cafe hi must use the time..</h3>
      <p class="par reveal">Lorem ipsum  Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ea et minima, fugiat, 
        cupiditate nostrum eius deserunt, adipisci neque
        debitis iste ducimus</p>
    </div>
  </div>
  






	<!-------BLOCK° 6----------------->


<div class="container_coffeTear">
  <div class="coffeTear_w">
    <img src="../images/cAffeTear.png" class="chicco reveal">
  </div>
</div>


	<!-------BLOCK° 7----------------->


  <div class="CupOfCoffee">
    <div class="CupOfCoffee_int">
      <img src="../images/glassCup.png" class="reveal">
    </div>
  </div>
  








































	<!-------BLOCK  end footer----------------->

  <div class="container_footer">
    <div class="wrapprer_footer">


      <div class="logoFooter"><img src="images/logo-cadetblue.png"></div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5>contact</h5>
            <p>tel : 327 4428549</p>
            <p>fax : 327 4428549</p>
            <p>mail : beancaffe@libero.it</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
         <div class="kkk">
            <h5>location</h5>
            <p>Via annibale da bassano N° 23</p>
          </div>
        </div>
      </div>

      <div class="argomenti">
        <div class="elementi">
          <div class="kkk">
             <h5>social</h5>
      
             <img src="../images/istagram.png" href="https://www.instagram.com/">
             <img src="../images/faceboock.png" href="https://it-it.facebook.com/">
             <img src="../images/twitter.png" href="https://twitter.com/?lang=it">
             <img src="../images/whattup.png" href="tel:3392751462">

          </div>
        </div>
      </div>
    
      

     </div>
     </div>








  
  
     <script src="javascripts/animation.js"></script>
    </body>
      </html>
 













 